sjdnn/.idea/workspace.xml
sj/notebooks/.ipynb_checkpoints/（1）jnn 《线性回归 & 线性回归》-checkpoint.ipynb
sj/notebooks/.ipynb_checkpoints/（2）jnn 《逻辑回归 & sigmoid 二分类》-checkpoint.ipynb
sj/notebooks/.ipynb_checkpoints/（3）jnn 《softmax & 概率的多分类问题》-checkpoint.ipynb
sj/notebooks/.ipynb_checkpoints/jnn 说明-checkpoint.ipynb
.idea/workspace.xml
sj/jimg/jcv/__pycache__/cvCamera.cpython-36.pyc
sj/jimg/jcv/__pycache__/cvClouds.cpython-36.pyc
